{% extends "base.html" %}	
{% block content %}


	<br><br><br>
	{% load static %}
	{% if has_contacts %}
		<div class="container mt-3">
			<div class="row">

			</div>
			<div id="search-results-contacts" class="container-fluid mt-4">
				<h3>
					You have contacts below:
					{% for contact in contacts %}
						<div class="col-sm-8">
							<div class="card bg-light mt-2">
								<div class="row">
									<div class="col-sm-2 ml-4">									
									{% if contact.userprofile_owner.profile_picture or contact.lawyerprofile_owner.profile_picture %}
									<img src="{% url 'picture' contact.id %}" alt="Display Picture" class="rounded-circle img-thumbnail results-dp">
									{% else %}
									<img src="{% static 'pic/default.jpeg' %}" alt="Display Picture" class="rounded-circle img-thumbnail results-dp">
									{% endif %}
									</div>
									<div class="col-sm my-1">
										<a class="row font-weight-bold" href="{% url 'other_profile' contact.id %}">
											@{{contact.username}}
										</a>
										<div class="row">
											{{contact.first_name}} {{contact.last_name}}
										</div>

									</div>
									<div class="row mt-4 mr-5">
										{% csrf_token %}
										<div class="col-sm-10 ml-5">
										<a href="{% url 'chat' contact.id %}" class="btn btn-dark btn-md w-100 chat-button">
											Chat
										</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</h3>
			</div>
		</div>
	{% else %}
		<div class="container-fluid mt-3 text-info">
			<h3>
				You don't have any contacts yet.
			</h3>
			<h3 class="mt-4">
				Explore other users to find new contacts!
			</h3>
		</div>
	{% endif %}
{% endblock content%}
